.landing {
  section {
    max-width: 100%;
    margin: auto;
    overflow: hidden;

  }

  h2 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
  }

  p {
    color: #666b70;
  }

  img {
    max-width: 100%;
  }

  /* button for landing (l) page  */
  button.l-btn {
    padding: 1rem 2.3rem;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 1rem;
    transition: all 0.5s;
    color: white;
    background-color: var(--primary-color);
  }

  button.l-btn:hover {
    background-color: #2755dd;
  }

  button.l-btn-outline {
    padding: 1rem 2.3rem;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 1rem;
    transition: all 0.5s;
    border: 1px solid #999c9f;
  }

  button.l-btn-outline:hover {
    background-color: #e5e5e5;
  }

  @media screen and (max-width: 800px) {
    section.intro {
      h2 {
        font-size: 3rem;
        line-height: 3.6rem;
      }
    }
  }
}